<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Motelardo{% endblock %}
    </title>
</head>
<body>
    {% block header %}
    <h4>bloque header </h4>
    {% endblock %}
    
    {% block content %}
    <h5> contenido </h5>
    {% endblock %}


    {% block footer %}
    <h5> soy el footer </h5>
    {% endblock %}
</body>
</html>